main {
    background-color: #BF0F3E;
    background-color: #91A646;
    background-color: #F2A81D;
    background-color: #F2916D;
    background-color: #C4CAEC;
    background-color: #94A2D3;
    background-color: #84C3E6;

    background-color: #ffc14d;
}