
@import url('https://fonts.googleapis.com/css2?family=Crimson+Text&family=Satisfy&display=swap');
body {
    font-family: 'Crimson Text', serif;
    background-color: white;
    font-size: 20px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

nav ul {
    display: flex;
    list-style-type: none;
    justify-content: space-around;
    padding: 0;
    flex-wrap: wrap;
}

nav ul li {
    margin: 5px;
}

nav, section{
    background-color: #C4CAEC;
    padding: 10px;
    border-radius: 5px;
    margin: 10px;
    width: auto;
    flex-wrap: wrap;
    z-index: 2;
}

.main-container {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    max-width: 900px;
    background-color: #677ccb;
    border-radius: 5px;
}

h3 {
    background-color: #677ccb;
    padding: 5px;
    border-radius: 5px;
    color: white;
    text-align: center;
    font-family: 'Satisfy', cursive;
    font-size: 30px;
}

.question {
    font-weight: 700;
}

.question-frame {
    padding: 10px;
    margin: 5px;
    background-color: #b0badd;
    border-radius: 5px;
}

img {
    width: 97%;
    margin: 10px;
}

.importantp {
    text-align: center;
    font-size: 24px;
    color: white;
    margin: 10px;
}

.importanth {
    font-size: 36px;
    margin: 0px;
}

.importantp a {
    text-decoration: none;
    color: rgb(220, 235, 253);
}

.importantp a:hover {
    color: white;
}

a {
    color: rgb(28, 66, 136);
    text-decoration: none;
    font-weight: bold;
}

a:hover {
    color: rgb(0, 0, 0);
    text-decoration: underline;
}

.flower {
    width: 40px;
    margin: 10px;
}

.flower-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.content-container {
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

.link-button {
    padding: 5px;
    background-color: #9ea9e3;
    border-radius: 5px;
    margin: 5px;
    text-align: center;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.5);
    color: black;
    text-decoration: none;
}

.link-button:hover {
    background-color: #677ccb;
}

.event {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-width: 400px;
    width: 100%;
}

.calendar {
    display: flex;
    align-items: center;
    flex-direction: column;
}